**/bin/
**/obj/
**/out/
**/.vs/
**/.vscode/
**/.idea/
**/*.user
**/*.suo
**/.DS_Store
**/Properties/launchSettings.json
**/appsettings.Development.json
**/appsettings.Local.json
**/secrets.json

.git/
.gitignore
.github/
.claude/
CLAUDE.md
README.md
maquettes/
tests/

**/*.log
logs/
**/*.mdf
**/*.ldf

Dockerfile
.dockerignore
render.yaml
